
<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>
          &copy; Copyright Union 2013
        </p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li>
            <a href="#home" class="scroll">
              Back to top
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
