<%= erb :section_home %>

<%= erb :section_our_story %>

<div class="fabric-rule">
</div>

<%= erb :section_wedding %>

<%= erb :section_where_to %>

<%# erb :section_registry %>

<%# erb :section_wedding_party %>

<%# erb :section_newsletter %>