<div class="row navigation" data-magellan-expedition='fixed'>
	<nav class="top-bar"  id="main-menu">
		<ul>
			<!-- Title Area -->
			<li class="name">
				<h1>

				</h1>
			</li>
			<li class="toggle-topbar"><a href="#"></a></li>
		</ul>
		<section class="nav-center">
			<ul class="nav-bar center">
				<li data-magellan-arrival='home' class="nav-item">
					<a href="#home" class="scroll">
						Home
					</a>
				</li>
				<li data-magellan-arrival='our-story' class="nav-item">
					<a href="#our-story" class="scroll">
						Our Story
					</a>
				</li>
				<li data-magellan-arrival='wedding' class="nav-item">
					<a href="#wedding" class="scroll">
						Wedding
					</a>
				</li>
				<li data-magellan-arrival='where-to' class="nav-item">
					<a href="#where-to" class="scroll">
						Where To
					</a>
				</li>
				<li data-magellan-arrival='registry' class="nav-item">
					<a href="#registry" class="scroll">
						Registry
					</a>
				</li>
				<li data-magellan-arrival='wedding-party' class="nav-item">
					<a href="#wedding-party" class="scroll">
						Wedding Party
					</a>
				</li>
				<li data-magellan-arrival='newsletter' class="nav-item">
					<a href="#rsvp" class="scroll">
						Newsletter
					</a>
				</li>
			</ul>
		</section>
	</nav>
</div>