<!-- Our Story -->
<a id="our-story">
</a>
<section id="our-story-page" class="row" data-magellan-destination='our-story'>
	<div class="fabric-rule">
	</div>

	<div class="twelve columns page-wrapper">
		<div class="page">
			
			<!--
			<img alt="story" id="story-photo" src="http://placehold.it/300x200" />
			-->
			
			<h2 class="align-center">
				Our Story
			</h2>
			<br />
			<img alt="divider" class="page-divider" src="images/divider2.png" />
			<br />

			<div class="twelve columns">
				<p>
					We met on a snowy Friday night in Boulder. It had snowed two feet that day and the town was mostly shut down. A random connection of friends brought us together for a group dinner at a sushi restaurant. We immediately clicked chatting all night about our lives, our work and our play. 					
				</p>
				<p>
					Since that night we've had many adventures from ski trips, to camping, to exploring Eastern Europe and getting our dog, Cody. Everything is better because we have the other by our side. We can't wait for you, our family and friends, to share a weekend with us and celebrate our love.
				</p>
			</div>

		</div><!-- end page-->
	</div><!-- end page-wrapper -->
</section>