<a id="rsvp">
</a>
<div class="fabric-rule">
</div>

<section class="row" id="rsvp-page" data-magellan-destination='rsvp'>

	<div class="page-wrapper">

		<div class="page">
			<h2 class="align-center">
				RSVP
			</h2>
			<img alt="divider" class="page-divider" src="images/divider2.png" />
			<br />

		</div>

	</div>

</section>