<a id="gallery">
</a>
<div class="fabric-rule">
</div>

<section id="gallery-page" class="row" data-magellan-destination='gallery'>

	<div class="page-wrapper">

		<div class="page">
			<h2 class='align-center'>
				Photo Gallery
			</h2>

			<br />
			<img alt="divider" class="page-divider" src="images/divider2.png" />
			<br />
			
			<h5 class='align-center'>
				<a class='photo-gallery-link' href="http://www.flickr.com/photos/117820642@N04/sets/72157641086452473/" target="_blank">
					View All Photos
				</a>
			</h5>

			<ul class="block-grid four-up mobile-two-up">			
				<% @gallery.each do |image| %>
					<li>
						<a href="<%= image[:url] %>" target="_blank">
							<img alt="gallery-image" src="<%= image[:thumbnail_url] %>"/>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>


</section>
