<a id="gallery">
</a>
<div class="fabric-rule">
</div>

<section id="gallery-page" class="row" data-magellan-destination='gallery'>

	<div class="page-wrapper">

		<ul class="block-grid four-up mobile-two-up">
			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>


			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>


			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>


			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>


			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>


			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>


			<li>
				<a class="fancybox" href="http://placehold.it/220x150">
					<img alt="gallery-image" src="http://placehold.it/220x150" />
				</a>
			</li>

		</ul>

	</div>


</section>
