<a id="wedding-party">
</a>
<div class="fabric-rule">
</div>

<!-- Visitors -->

<section id="wedding-party-page" class="row" data-magellan-destination='wedding-party'>

	<div class="page-wrapper">

		<div class="page">

			<h2 class="align-center">
				Wedding Party
			</h2>
			<br />
			<img alt="divider" class="page-divider" src="images/divider2.png" />
			<br />

		</div>

	</div>

</section>