<!-- Home Page -->
<a id="home">
</a>
<section id="home-page" data-magellan-destination='home'>
	<div id="main-title-container">
		<div id="main-title-text">
			<h1>
				Meghan
			</h1>
			<h2>
				-&nbsp;&nbsp;a&nbsp;&nbsp;n&nbsp;&nbsp;d&nbsp;&nbsp;-
			</h2>
			<h1>
				Zach
			</h1>
			<span>
				19th July 2014
			</span>
			<br />
			<span>
				Boulder, CO
			</span>
		</div>
	</div>
</section>