<a id="registry">
</a>
<div class="fabric-rule">
</div>

<!-- Visitors -->

<section id="registry-page" class="row" data-magellan-destination='registry'>

	<div class="page-wrapper">

		<div class="page">

			<h2 class="align-center">
				Registry
			</h2>
			<br />
			<img alt="divider" class="page-divider" src="images/divider2.png" />
			<br />
			
			<ul class='registry'>
				<li class='registry'>
					<a href="http://www.amazon.com/gp/registry/wedding/2NNERRXJO3S7E" target="_blank">Amazon</a>					
				</li>
				<li class='registry'>
					<a href="https://secure.williams-sonoma.com/registry/nfbtzs92pp/registry-list.html" target="_blank">Williams Sonoma</a>
				</li>				
				<li class='registry'>
					<a href="http://www.crateandbarrel.com/Gift-Registry/Meghan-Watts-and-Zach-Dicklin/r5088968" target="_blank">Crate and Barrel</a>
				</li>				
			</ul>
			
		</div>

	</div>

</section>