<div class='tab-panel' id='tab-eat'>
	<ul id="visitors-list" class="row">
		<li class='description'>
			<h5>For those extending their stay in Colorado here are a few great locations and activities.</h5>
		</li>
		
		<li>
			<div>
				<h5>
					Estes Park and Rocky Mountain National Park
				</h5>
				<h6>
					www.visitestespark.com/
				</h6>
			</div>
		</li>
		<li>
			<div>
				<h5>
					The Wild Animal Sanctuary
				</h5>
				<h6>
					www.wildanimalsanctuary.org
				</h6>
			</div>
		</li>
		<li>
			<div>
				<h5>
					Crested Butte
				</h5>
				<h6>
					www.visitcrestedbutte.com
				</h6>
			</div>
		</li>
		<li>
			<div>
				<h5>
					Winter Park
				</h5>
				<h6>
					www.winterparkresort.com
				</h6>
			</div>
		</li>
		<li>
			<div>
				<h5>
					Hike a 14,000&apos; Peak
				</h5>
				<h6>
					www.14ner.com
				</h6>
			</div>
		</li>
		<li>
			<div>
				<h5>
					Palisade
				</h5>
				<h6>
					www.palisadetourism.com
				</h6>
			</div>
		</li>
	</ul>
</div>