<div class='tab-panel tab-panel-active' id='tab-sleep'>
	<ul id="visitors-list" class="row">

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/sleep_stjulien.jpeg" />
			<div>
				<h5>
					St. Julien Hotel & Spa
				</h5>
				<h6>
					<a href="https://plus.google.com/100286474915303075111/about?gl=us&hl=en" target="_blank">
						900 Walnut St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					$245 / night - <a href="www.stjulien.com">www.stjulien.com</a>
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/sleep_courtyard.jpeg" />
			<div>
				<h5>
					Courtyard by Marriott
				</h5>
				<h6>
					<a href="https://plus.google.com/112352695559672808656/about?gl=us&hl=en" target="_blank">
						4710 Pearl E Cir, Boulder, CO 80301
					<a/>
				</h6>
				<p>
					$149 / night - 15-20 minute drive from most festivities
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/sleep_university.jpeg" />
			<div>
				<h5>
					The University Inn
				</h5>
				<h6>
					<a href="https://plus.google.com/104404803824684196470/about?gl=us&hl=en" target="_blank">
						1632 Broadway, Boulder, CO 80302
					</a>
				</h6>
				<p>
					$85 / night
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/sleep_chautauqua.jpeg" />
			<div>
				<h5>
					Chautauqua Lodging
				</h5>
				<h6>
					<a href="https://plus.google.com/107447496275036564911/about?gl=us&hl=en" target="_blank">
						900 Baseline Road, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Chautauqua is a historic landmark offering cottage rentals and rooms within the Columbine Lodge.
					Columbine Lodge rates start at $73 / night while the cottages vary in rate and minimum stay. 
					Cottages book up early so please plan ahead if you are interested in this option.
				</p>
				<p>
					http://www.chautauqua.com/important_details.html
				</p>
			</div>
		</li>


		<li>
			<img class="visitors-photo" alt="hotel" src="/images/sleep_airbnb.jpeg" />
			<div>
				<h5>
					AirBnB | VRBO
				</h5>
				<h6>Apartment and House Rental</h6>
				<p>
					http://www.vrbo.com/vacation-rentals/usa/colorado/front-range/boulder
				</p>
				<p>
					https://www.airbnb.com/s/boulder
				</p>
			</div>
		</li>

	</ul>
</div>