<div class='tab-panel' id='tab-eat'>
	<ul id="visitors-list" class="row">
		<li>
			<h3>Urban</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					Pearl Street
				</h5>
				<h6>
					&nbsp;
				</h6>
				<p>
					An outdoor pedestrian mall featuring shops, cafes, street performers and more.
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					Dushanbe Tea House
				</h5>
				<h6>
					1770 13th St, Boulder, CO 80302
				</h6>
				<p>
					Dushanbe, Tajikistan is a Boulder sister city. The hand-made tea house was a gift from the city and the only authentic Persian tea house in the Western Hemisphere.
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					Boulder County Farmers Market
				</h5>
				<h6>
					Outside the tea house, open Saturdays from 8am to 2pm
				</h6>
				<p>
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					Boulder Creek Path
				</h5>
				<h6>
					&nbsp;
				</h6>
				<p>
					On the south side of Canyon Road stroll the creek path and watch tubers take their chances in the icy water.
				</p>
			</div>
		</li>

		<li>
			<h3>Nature</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					Mt. Sanitas
				</h5>
				<h6>
					4th Street and Mapleton Ave
				</h6>
				<p>
					Moderate hike walking distance to Pearl Street with great views of the city from the top.
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					Chautauqua
				</h5>
				<h6>
					900 Baseline Rd, Boulder, CO 80302
				</h6>
				<p>
					Includes a series of trails from mild strolls to a three mile hike up to the Royal Arch. 
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					University Bicycles Rental
				</h5>
				<h6>
					839 Pearl Street, Boulder, CO 
				</h6>
				<p>
					Experience the college scene with a wide selection of hot and cold subs, beer pitchers and margaritas. 
				</p>
			</div>
		</li>
		
		<li>
			<h3>Breweries</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="http://placehold.it/170x110" />
			<div>
				<h5>
					
				</h5>
				<h6>
					Avery
				</h6>
				<p>
					5763 Arapahoe Ave, Ste E, Boulder, CO 80303
				</p>
				<h6>
					Upslope
				</h6>
				<p>
					1898 S. Flatiron Court Boulder, CO 80301 
				</p>
				<h6>
					Twisted Pine
				</h6>
				<p>
					 3201 Walnut St, Boulder, CO 80301
				</p>
				<h6>
					Sanitas
				</h6>
				<p>
					3550 Frontier Ave., Unit A, Boulder, CO, 80304
				</p>
				<h6>
					Fate
				</h6>
				<p>
					1600 38th St, Boulder, CO 80301
				</p>
				<h6>
					Bru
				</h6>
				<p>
					5290 Arapahoe Ave, Boulder, CO 80303
				</p>
			</div>
		</li>
								
	</ul>
</div>

