<div class='tab-panel' id='tab-eat'>
	<ul id="visitors-list" class="row">
		<li>
			<h3>Urban</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_pearlst.jpeg" />
			<div>
				<h5>
					Pearl Street
				</h5>
				<h6>
					&nbsp;
				</h6>
				<p>
					An outdoor pedestrian mall featuring shops, cafes, street performers and more.
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_dushanbe.jpeg" />
			<div>
				<h5>
					Dushanbe Tea House
				</h5>
				<h6>
					<a href="https://plus.google.com/111780810024296533561/about?gl=us&hl=en" target="_blank">
						1770 13th St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Dushanbe, Tajikistan is a Boulder sister city. The hand-made tea house was a gift from the city and the only authentic Persian tea house in the Western Hemisphere.
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_farmersmarket.jpeg" />
			<div>
				<h5>
					Boulder County Farmers Market
				</h5>
				<h6>
					Outside the tea house
				</h6>
				<p>
					Open Saturdays from 8am to 2pm
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_creekpath.jpeg" />
			<div>
				<h5>
					Boulder Creek Path
				</h5>
				<h6>
					South side of Canyon Road
				</h6>
				<p>
					Stroll the Creek Path and watch tubers take their chances in the icy water.
				</p>
			</div>
		</li>

		<li>
			<h3>Nature</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_sanitas.jpeg" />
			<div>
				<h5>
					Mt. Sanitas
				</h5>
				<h6>
					<a href="https://plus.google.com/107303202764043589302/about?gl=us&hl=en" target="_blank">
						4th Street and Mapleton Ave
					</a>
				</h6>
				<p>
					Moderate hike, walking distance to Pearl Street with great views of the city from the top.
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_chautauqua.jpeg" />
			<div>
				<h5>
					Chautauqua
				</h5>
				<h6>
					<a href="https://plus.google.com/111873542285323896914/about?gl=us&hl=en" target="_blank">
						900 Baseline Rd, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Includes a series of trails from mild strolls to a three mile hike up to the Royal Arch. 
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_cycles.jpeg" />
			<div>
				<h5>
					University Bicycles Rental
				</h5>
				<h6>
					<a href="https://plus.google.com/+UniversityBicycles/about?gl=us&hl=en" target="_blank">
						839 Pearl Street, Boulder, CO 
					</a>
				</h6>
				<p>
				</p>
			</div>
		</li>
		
		<li>
			<h3>Breweries</h3>
			<h6>Boulder is home to a number of excellent craft breweries. Here are a few of our favorites:</h6>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/play_avery.jpeg" />
			<div>
				<h5>
					
				</h5>
				<h6>
					Avery
				</h6>
				<p>
					<a href="https://plus.google.com/103839077330570782594/about?gl=us&hl=en" target="_blank">
						5763 Arapahoe Ave, Ste E, Boulder, CO 80303
					</a>
				</p>
				<h6>
					Upslope
				</h6>
				<p>
					<a href="https://plus.google.com/115322756835532304136/about?gl=us&hl=en" target="_blank">
					1898 S. Flatiron Court Boulder, CO 80301 
					</a>
				</p>
				<h6>
					Twisted Pine
				</h6>
				<p>
					<a href="https://plus.google.com/115577968268536332645/about?gl=us&hl=en" target="_blank">
					 3201 Walnut St, Boulder, CO 80301
					</a>
				</p>
				<h6>
					Sanitas
				</h6>
				<p>
					<a href="https://plus.google.com/112167717209552033035/about?gl=us&hl=en" target="_blank">
					3550 Frontier Ave., Unit A, Boulder, CO, 80304
					</a>
				</p>
				<h6>
					Fate
				</h6>
				<p>
					<a href="https://plus.google.com/+Fatebrewingcompany/about?gl=us&hl=en" target="_blank">
					1600 38th St, Boulder, CO 80301
					</a>
				</p>
				<h6>
					Bru
				</h6>
				<p>
					<a href="https://plus.google.com/113373084474073815810/about?gl=us&hl=en" target="_blank">
					5290 Arapahoe Ave, Boulder, CO 80303
					</a>
				</p>
			</div>
		</li>
								
	</ul>
</div>

