<div class='tab-panel' id='tab-eat'>
	<ul id="visitors-list" class="row">
		<li>
			<h3>Breakfast</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_thebuff.jpeg" />
			<div>
				<h5>
					The Buff
				</h5>
				<h6>
					<a href="https://plus.google.com/116784425520647050606/about?gl=us&hl=en" target="_blank">
						1725 28th St, Boulder, CO 80301
					</a>
				</h6>
				<p>
					Great greasy spoon with $1 Mimosoas and Bloody Marys. This place gets crowded after 10am when the college crowd starts to wake up.
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_cafeaion.jpeg" />
			<div>
				<h5>
					Cafe Aion
				</h5>
				<h6>
					<a href="https://plus.google.com/107289137090247999761/about?gl=us&hl=en" target="_blank">
						1235 Pennsylvania Ave, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Great brunch spot across the street from The University Inn.
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_spruce.jpeg" />
			<div>
				<h5>
					Spruce Confections
				</h5>
				<h6>
					<a href="https://plus.google.com/103073099704773684859/about?gl=us&hl=en" target="blank">
						767 Pearl St, Boulder CO 80302
					</a>
				</h6>
				<p>
					Amazing scones and their Spruce Juice (iced coffee) is guaranteed to keep you going all day!
				</p>
			</div>
		</li>

		<li>
			<h3>Lunch & Dinner</h3>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_themed.jpeg" />
			<div>
				<h5>
					The Med
				</h5>
				<h6>
					<a href="https://plus.google.com/104150075719179046688/about?gl=us&hl=en" target="_blank">
						1002 Walnut St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Small plates, great pizza, good wine selection, stop by during happy hour for half-prices tapas and drinks. (3pm - 6:30pm)
				</p>
			</div>
		</li>

		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_mountainsun.jpeg" />
			<div>
				<h5>
					Mountain Sun
				</h5>
				<h6>
					<a href="https://plus.google.com/108924442617297946191/about?gl=us&hl=en" target="_blank">
						1535 Pearl St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					A Boulder institution serving up burgers and their own craft beer.
					<br/>
					Fun fact - Nick worked here for a summer!
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_zomama.jpeg" />
			<div>
				<h5>
					Zoe Ma Ma
				</h5>
				<h6>
					<a href="https://plus.google.com/106892716221671487873/about?gl=us&hl=en" target="_blank">
						2010 10th Street, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Authentic Chinese street food made fresh for each order. Enjoy your noodles at the bar outside with a great view of the Flatirons.
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_halffast.jpeg" />
			<div>
				<h5>
					Half Fast Subs
				</h5>
				<h6>
					<a href="https://plus.google.com/109254613719789657657/about?gl=us&hl=en" target="_blank">
						1215 13th St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Experience the college scene with a wide selection of hot and cold subs, beer pitchers and margaritas. 
				</p>
			</div>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_kitchennextdoor.jpeg" />
			<div>
				<h5>
					The Kitchen Next Door
				</h5>
				<h6>
					<a href="https://plus.google.com/109182070899216805272/about?gl=us&hl=en" target="_blank">
						1035 Pearl St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					A community pub serving local farm-to-table fare. If you're looking for something a little more fancy, The Kitchen is (ahem) next door and a wine bar is upstairs (The Kitchen Upstairs).
				</p>
			</div>
		</li>
			
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_westend.jpeg" />
			<div>
				<h5>
					The West End Tavern
				</h5>
				<h6>
					<a href="https://plus.google.com/103904224173702167900/about?gl=us&hl=en" target="_blank">
						926 Pearl St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					Upscale pub food with a special focus on beer and bourbon. Stop by for a wide selection of craft brews and creative cocktails.
				</p>
			</div>
		</li>	
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/eat_oak.jpeg" />
			<div>
				<h5>
					Oak at Fourteenth
				</h5>
				<h6>
					<a href="https://plus.google.com/114927531414877193107/about?gl=us&hl=en" target="_blank">
						1400 Pearl St, Boulder, CO 80302
					</a>
				</h6>
				<p>
					 Fine dining at the corner of Pearl and 14th with some of the best local and seasonal meals. This one is a little pricey but has a reverse happy hour starting at 10pm.
				</p>
			</div>
		</li>					
	</ul>
</div>