<div class='tab-panel' id='tab-eat'>
	<ul id="visitors-list" class="row">
		<li class='description'>
			<h5 class='extending-stay'>For those extending their stay in Colorado here are a few great locations and activities.</h5>
		</li>
		
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/explore_estespark.jpeg" />
			<div>
				<h5>
					Estes Park and Rocky Mountain National Park
				</h5>
				<h6>
					<a href="http://www.visitestespark.com/" target="_blank">
						www.visitestespark.com
					<a/>
				</h6>
			</div>
		</li>
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/explore_wildanimal.jpeg" />			
			<div>
				<h5>
					The Wild Animal Sanctuary
				</h5>
				<h6>
					<a href="http://www.wildanimalsanctuary.org" target="_blank">
					www.wildanimalsanctuary.org
					</a>
				</h6>
			</div>
		</li>
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/explore_crestedbutte.jpeg" />			
			<div>
				<h5>
					Crested Butte
				</h5>
				<h6>
					<a href="http://www.visitcrestedbutte.com" target="_blank">
					www.visitcrestedbutte.com
					</a>
				</h6>
			</div>
		</li>
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/explore_winterpark.jpeg" />			
			<div>
				<h5>
					Winter Park
				</h5>
				<h6>
					<a href="http://www.winterparkresort.com" target="_blank">
					www.winterparkresort.com
					</a>
				</h6>
			</div>
		</li>
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/explore_14er.jpeg" />			
			<div>
				<h5>
					Hike a 14,000&apos; Peak
				</h5>
				<h6>
					<a href="http://www.14ers.com" target="_blank">
					www.14ers.com
					</a>
				</h6>
			</div>
		</li>
		<li>
			<img class="visitors-photo" alt="hotel" src="/images/explore_palisade.jpeg" />
			<div>
				<h5>
					Palisade
				</h5>
				<h6>
					<a href="http://www.palisadetourism.com" target="_blank">
					www.palisadetourism.com
					</a>
				</h6>
			</div>
		</li>
	</ul>
</div>