/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

.extending-stay {
	margin-bottom: 20px !important;
}

ul.registry {
	margin-top: 20px;
}

li.registry {
	display: inline-block;
	list-style-type: none;
	width: 32%;
	text-align: center;
	font-size: 18px;
}